<div class="min-h-screen bg-gradient-to-br from-gray-900 via-gray-800 to-black text-white flex flex-col items-center justify-center p-4">
  
  <h1 class="text-4xl font-bold text-blue-400 mb-6 text-center">🎲 Bienvenido al Arcade!</h1>
    <p class="text-gray-300 text-center mb-8">Selecciona un juego para comenzar:</p>
  
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 max-w-2xl w-full">
      <button (click)="navigateToMayorMenor()" class="bg-gray-700 hover:bg-purple-600 transition rounded-xl p-6 text-center font-semibold text-white shadow-lg">♠️ Mayor o menor </button>
     <button (click)="navigateToAhorcado()" class="bg-gray-700 hover:bg-purple-600 transition rounded-xl p-6 text-center font-semibold text-white shadow-lg" >💀 Ahorcado</button>
      
      <a
        routerLink="/juego-3"
        class="bg-gray-700 hover:bg-green-600 transition rounded-xl p-6 text-center font-semibold text-white shadow-lg"
      >
        🎯 Juego 3
      </a>
      <a
        routerLink="/juego-4"
        class="bg-gray-700 hover:bg-pink-600 transition rounded-xl p-6 text-center font-semibold text-white shadow-lg"
      >
        🚀 Juego 4
      </a>
    </div>

   
    <button
    (click)="router.navigate(['/chat-room'])"
    class="fixed bottom-6 right-6 bg-cyan-500 hover:bg-cyan-600 text-white p-4 rounded-full shadow-lg z-50">
    💬
    </button>

  </div>
  
